body{
  y-overflow: hidden;
  text-align: center;
  background-image: url("img/background1.jpg");
  background-position: fixed;
  background-size: cover;
}
#title {
  font-family: cursive;
  color: white;
}
